<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/posts.css">

{% extends "layout.html" %}
{% block title %}Front Page{% endblock %}
{% block content %}

<h2>Noctournal cloud forecast</h2>
<p>
    Welcome to the Noctournal Cloud Forecast. Currently this forecast is not real time
    but generated for the past summer. This is due to limititations on resources.
</p>
<img src="{{ url_for('static', filename='picture3.png') }}" class="image" />


<h3>What are noctilucent clouds?</h3>
<p>
    Noctilucent clouds are high altidute clouds that most commonly but rarely appear during summer twilight 
    producing a beautiful light effect by reflecting sunlight that has already gone below the horizon. <br>
    They are one of the few sky phenomenan viewable during the Finnish summer.  
</p>
<img src="{{ url_for('static', filename='High_altitude.jpg') }}" class="image" />

<p>
    If you are more interested about the phenomenan wikipedia might be a good start. <br>
    en.wikipedia.org/wiki/Noctilucent_cloud
</p>

{% endblock %}
